@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1760412602335') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e60b";
}

.icon-tupian:before {
  content: "\e67b";
}

.icon-tuichu:before {
  content: "\e623";
}

.icon--yuangong:before {
  content: "\e60a";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-gonggao:before {
  content: "\e646";
}

.icon-baoxiu:before {
  content: "\e60d";
}

.icon-mendian:before {
  content: "\e635";
}

.icon-yonghu:before {
  content: "\e601";
}

.icon-jiaofeijilu:before {
  content: "\e60e";
}

.icon-complain:before {
  content: "\ebbc";
}

.icon-yonghu-liangren_users-fill:before {
  content: "\e682";
}

.icon-shouye-shouye:before {
  content: "\e614";
}

