@font-face {
  font-family: "iconfont"; /* Project id 5040133 */
  src: url('iconfont.woff2?t=1760429941161') format('woff2'),
       url('iconfont.woff?t=1760429941161') format('woff'),
       url('iconfont.ttf?t=1760429941161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e74b";
}

.icon-mendian:before {
  content: "\e624";
}

.icon-guanliyuan1:before {
  content: "\e67d";
}

.icon-qitafeiyong:before {
  content: "\e629";
}

.icon-renshu:before {
  content: "\e611";
}

.icon-shouye:before {
  content: "\e615";
}

.icon-qiyeguanli_yuangongguanli:before {
  content: "\e605";
}

.icon-shezhi:before {
  content: "\e65d";
}

.icon-wuyeguanli:before {
  content: "\e6dd";
}

.icon-tuichudenglu1:before {
  content: "\e68a";
}

.icon-tupian:before {
  content: "\e67b";
}

.icon-gonggao:before {
  content: "\e646";
}

.icon-complain:before {
  content: "\ebbc";
}

