.el-header,
.el-footer {
  background-color: #f4f4f4;
  color: #333;
  line-height: 60px;
  height: 40px;
  display: flex;
  align-items: center;
}
.el-header .logo,
.el-footer .logo {
  width: 150px;
  height: 30px;
  padding: 0 10px;
}
.el-header i,
.el-footer i {
  font-size: 17px;
  padding: 0 8px;
  position: relative;
  color: #2981ff;
}
.el-header p,
.el-footer p {
  font-size: 15px;
}
.el-header i,
.el-footer i {
  transition: 0.4s ease;
}
.el-header i:hover,
.el-footer i:hover {
  background-color: #b1b1b1;
  border-radius: 25px;
}
.el-header i:active,
.el-footer i:active {
  background-color: #818181;
  border-radius: 30px;
}
.el-header {
  z-index: 4;
  width: 100% !important;
  position: fixed;
}
.el-header .top-r {
  position: absolute;
  right: 0;
}
.el-header .top-r i {
  padding: 8px;
  transition: 0.4s ease;
}
.el-header .top-r i:hover {
  background-color: #b1b1b1;
  border-radius: 25px;
}
.el-header .top-r i:active {
  background-color: #818181;
  border-radius: 30px;
}
