* {
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
}

.el-main {
  margin-left: 100px;
  padding: 20px;
  background-color: #fff;
  color: #333;
  height: 100% !important;
  
  .left {
    width: 72%;
  }
  
  .right {
    width: 28%;
    
    a {
      color: #093de9;
      text-decoration: none;
    }
    
    .text {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
      }
    }
  }
  
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: '';
  }
  
  .clearfix:after {
    clear: both;
  }

  .box-card {
    margin: 20px;
    
    .nr {
      border: 1px solid #c4c4c4;
      display: flex;
      justify-content: space-between;
      
      .bor {
        p:not(p:nth-child(1)) {
          margin-left: 20px;
          border-left: 1px solid #c4c4c4;
        }
      }
      
      div {
        display: flex;
        flex-direction: row;
        padding: 15px 30px;
        margin-bottom: 30px;
        
        p {
          padding: 0 10px;
          margin: 10px 0;
          
          span {
            color: red;
            font-size: 25px;
          }
        }
      }
    }
  }
  
  .ins-top {
    position: relative;
    margin: 20px;
    
    .top-title {
      display: flex;
      height: 40px;
      justify-content: space-between;
      align-items: center;
      
      .el-radio-group {
        position: relative;
        top: 15px;
      }
    }
    
    .el-tabs {
      padding-top: 60px;
    }
  }
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container {
  height: 100% !important;
  
  .el-container {
    padding-top: 60px;
  }
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}